<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- HALAMAN AWAL -->
        <activity
            android:name=".pertemuan_3.WelcomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- MAIN MENU -->
        <activity
            android:name=".pertemuan_2.MainActivity"
            android:exported="false" />

        <!-- KALKULATOR -->
        <activity
            android:name=".pertemuan_2.SecondActivity"
            android:exported="false" />

        <!-- COFFEE MENU -->
        <activity
            android:name=".pertemuan_3.CoffeActivity"
            android:exported="false" />

        <!-- CUSTOM PAGE -->
        <activity
            android:name=".pertemuan_4.CustomActivity2"
            android:exported="false" />

    </application>

</manifest>